#app-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0 4rem;
}

#title-row {
  padding: 4rem 0;
}

#page-title {
  font-family: 'DM Serif Text', serif;
  font-size: 2.5rem;
  color: var(--gray-dark);
}

#page-subtitle {
  font-size: 1.5rem;
  color: var(--gray);
}

#title-separator {
  width: 120px;
  height: 4px;
  background-color: var(--yellow);
  margin-top: 20px;
}

footer {
  margin-top: 60px;
  padding: 40px 0;
  color: var(--gray);
  font-size: 0.75rem;
}

footer p {
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  #page-title {
    color: white;
  }
}

@media (max-width: 700px) {
  #app-wrapper {
    padding: 0 2rem;
  }

  #title-row {
    padding: 2rem 0;
  }

  #page-title {
    font-size: 2rem;
  }

  #page-subtitle {
    font-size: 1.25rem;
  }

  #title-separator {
    width: 100px;
    height: 3px;
  }
}

@media (max-width: 500px) {
  #app-wrapper {
    padding: 0 1rem;
  }

  #title-row {
    padding: 1rem 0 2rem 0;
  }

  #page-title {
    font-size: 1.75rem;
  }

  #page-subtitle {
    font-size: 1rem;
  }

  #title-separator {
    width: 80px;
    height: 2px;
  }

  footer {
    padding: 10px 0;
  }
}
