body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.baseline-flex {
  display: flex;
  align-items: baseline;
}

button.btn {
  transition: all 0.3s cubic-bezier(.4, 0, .2, 1);
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #1d2024;
  }

  button.btn-light {
    color: white;
    border-color: var(--gray-dark);
    background-color: var(--gray-dark);
  }

  button.btn-light:hover, button.btn-light:active, button.btn-light:focus {
    color: white;
    border-color: var(--gray);
    background-color: var(--gray);
  }
}
